.section{
    background-image: url(./img/bgc.png);
}
.section{
    position: absolute;
    width: 1920px;
    height: 950px;
    left: 6px;
    top: 0;
    display: flex;
    flex-direction: column;
}
button{
    font-style: normal;
    font-weight: normal;
    background-color:rgba(0, 0, 0, 0);
    margin: 0 20px;
    border: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    }
.button1{
    position: absolute;
    width: 93px;
    height: 21px;
    left: 411px;
    top: 43px;
    line-height: 150%;
}
.button2{
    position: absolute;
    width: 84px;
    height: 21px;
    left: 544px;
    top: 43px;
}
.button3{
    position: absolute;
    width: 66px;
    height: 21px;
    left: 668px;
    top: 43px;
}
img{
    position: absolute;
    width: 216px;
    height: 52px;
    left: 858px;
    top: 25px;
}
.button4{
    position: absolute;
    width: 78px;
    height: 24px;
    left: 1173px;
    top: 42px;
}
.button5{
    position: absolute;
    width: 230px;
    height: 24px;
    left: 1291px;
    top: 41px;
}
.img5{
    position: absolute;
    width: 1110px;
    height: 60px;
    left: 411px;
    top: 860px;
}
hr{
    position: absolute;
    width: 1920px;
    height: 0;
    left: 6px;
    top: 830px;
    border: 1px solid white;
}
.text{
    position: absolute;
    width: 730px;
    height: 49px;
    left: 601px;
    top: 600px;
    text-align: center;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: white;
    font-style: normal;
    background-color: rgba(0, 0, 0, 0);
}
.button6{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    position: absolute;
    width: 261px;
    height: 51px;
    left: 836px;
    top: 699px;
    background-color: #333333;
    border: 1px solid white;
    box-sizing: border-box;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: white;
    flex: none;
    order: 0;
    margin: 0 10px;
}
.img2{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1173px;
    top: 42px;
}
.img3{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1490px;
    top: 41px;
}
.img4{
    position: absolute;
    width: 20px;
    height: 20px;
    left: 1550px;
    top: 42px;
}
.section2{
    position: absolute;
    width: 1110px;
    height: 851px;
    left: 405px;
    top: 1081px;
    
    flex-direction: column;
}
.header1{
    position: absolute;
    width: 350px;
    height: 29px;
    left: 510px;
    top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 140%;
    font-size: 21px;
    color:#333333;
   }
   .text1{
       position: absolute;
       width: 540px;
       height: 41px;
       left: 330px;
       top: 55px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
       font-style: normal;
       font-weight: bold;
       font-size: 30px;
       line-height: 41px;
       text-align: center;
       color: #333333;
   }
   .button7{
       position: absolute;
       width: 165px;
       height: 61px;
       left: -20px;
       top: 140px;
       filter: drop-shadow(0px, 4px, 4px, rgba(0, 0, 0, 0.25));
       color: white;
       font-style: normal;
       font-family: 'Courier New', Courier, monospace;
       font-style: normal;
       line-height: 21px;
       text-align: center;
       text-transform: uppercase;
       background: #333333;
       letter-spacing: 0.1em;
   }
   .button8{
    position: absolute;
    width: 165px;
    height: 61px;
    left: 165px;
    top: 140px;
    color: #333333;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    background: white;
    border: 1px solid gray;
    box-shadow: 5px 5px rgba(206, 206, 206, 0.582);
    
   }
   .button9{
    position: absolute;
    width: 165px;
    height: 61px;
    left: 355px;
    top: 140px;
    color: #333333;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    background: white;
    border: 1px solid gray;
    box-shadow: 5px 5px rgba(206, 206, 206, 0.582);
   }
   .button10{
    position: absolute;
    width: 165px;
    height: 61px;
    left: 543px;
    top: 140px;
    color: #333333;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    background: white;
    border: 1px solid gray;
    box-shadow: 5px 5px rgba(206, 206, 206, 0.582);
   }
   .button11{
    position: absolute;
    width: 165px;
    height: 61px;
    left: 732px;
    top: 140px;
    color: #333333;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    background: white;
    border: 1px solid gray;
    box-shadow: 5px 5px rgba(206, 206, 206, 0.582);
   }
   .button12{
    position: absolute;
    width: 165px;
    height: 61px;
    left: 925px;
    top: 140px;
    color: #333333;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase; 
    letter-spacing: 0.1em;
    background: white;
    border: 1px solid gray;
    box-shadow: 5px 5px rgba(206, 206, 206, 0.582);
   }
   .img6{
       position: absolute;
       width: 350px;
       height: 280px;
       left: 0px;
       top: 240px;
   }
   .img7{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 380px;
    top: 240px;  
   }
   .img8{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 759px;
    top: 240px;
}
.img9{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 0px;
    top: 540px;
}
.img10{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 380px;
    top: 540px;
}
.img11{
    position: absolute;
    width: 350px;
    height: 280px;
    left: 759px;
    top: 540px;
}
.section3{
    position: absolute;
    width: 1920px;
    height: 541px;
    top: 2021px;
    border: 1px solid #333333;
    left: 0;
    background: black;
}
.text2{
    position: absolute;
    color: white;
    width: 350px;
    left: 785px;
    top: 100px;
    font-size: 21px;
    line-height: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.text3{
    position: absolute;
    width: 540px;
    left: 690px;
    top: 140px;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bolder;
}
.text4{
    position: absolute;
    width: 730px;
    left: 595px;
    top: 230px;
    color: white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 180%;
    text-align: center;
}
.button13{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 35px;
    position: absolute;
    width: 224px;
    height: 51px;
    left: 848px;
    top: 390px;
    background: white;
    border: 1px solid #333333;
    box-sizing: border-box;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
}
.section4{
    position: absolute;
    width: 1110px;
    height: 626px;
    left: 405px;
    top: 2682px;
}
.header2{
    position: absolute;
    width: 350px;
    left: 385px;
    top: 5px;
    text-align: center;
    font-size: 21px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
    line-height: 140%;
    color: #333333;
}
.text5{
    position: absolute;
    width: 1110px;
    left: 0px;
    top: 55px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
}
.img12{
    position: absolute;
    width: 350px;
    height: 370px;
    left: 0px;
    top: 150px;
}
.img13{
    position: absolute;
    width: 350px;
    height: 370px;
    left: 380px;
    top: 150px;
}
.img14{
    position: absolute;
    width: 350px;
    height: 370px;
    left: 760px;
    top: 150px;
}
.button14{
    display: flex;
    flex-direction: row;
    padding: 15px 35px;
    top: 574px;
    position: absolute;
    width: 255px;
    height: 51px;
    left: 400px;
    background-color: #333333;
    border: 1px solid white;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 17px;
}
.section5{
    position: absolute;
    width: 1110px;
    height: 745px;
    left: 405px;
    top: 3428px;
}
.header3{
    position: absolute;
    width: 350px;
    left: 395px;
    top: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
    line-height: 140%;
    font-style: normal;
    font-weight: normal;
}
.text6{
    position: absolute;
    width: 1110px;
    left: 0px;
    top: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    line-height: 41px;
    color: #333333;
    font-style: normal;
    font-size: 30px;
}
.img15{
    position: absolute;
    width: 555px;
    height: 300px;
    left:0px;
    top: 143px;
}
.img16{
    position: absolute;
    width: 278px;
    height: 300px;
    left: 555px;
    top: 143px;
}
.img17{
    position: absolute;
    width: 278px;
    height: 300px;
    left:833px;
    top: 143px;
}
.img18{
    position: absolute;
    width: 278px;
    height: 300px;
    left:0px;
    top: 443px;
}
.img19{
    position: absolute;
    width: 277px;
    height: 300px;
    left:278px;
    top: 443px;
}
.img20{
    position: absolute;
    width: 555px;
    height: 300px;
    left: 555px;
    top: 443px;
}
.section6{
    position: absolute;
    width: 1920px;
    height: 478px;
    left: 0;
    top: 4323px;
    background-color: black;
}
.text7{
    position: absolute;
    width: 920px;
    left: 500px;
    top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 140px;
    text-align: center;
    color: white;
}
.text8{
    position: absolute;
    width: 1110px;
    left: 405px;
    top: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: white;
}
.img21{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 555px;
    top: 230px;
}
.img22{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 555px;
    top: 273px;
}
.img23{
    position: absolute;
    width: 17px;
    height: 17px;
    left: 555px;
    top: 316px;
}
.text9{
    position: absolute;
    width: 155px;
    height: 25px;
    left: 592px;
    top: 230px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: white;
}
.text10{
    position: absolute;
    width: 185px;
    height: 25px;
    left: 592px;
    top: 273px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: white;
}
.text11{
    position: absolute;
    width: 195px;
    height: 25px;
    left: 592px;
    top: 316px;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: white;
}
.form{
    position: absolute;
    width: 418px;
    height: 93px;
    left: 880px;
    top: 224px;
    border: 1px solid white;
    background: white;
    box-sizing: border-box;
    border: 1px solid white;
}
.button15{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 35px;
    position: absolute;
    width: 145px;
    height: 45px;
    border: 1px solid white;
    box-sizing: border-box;
    left: 230px;
    background-color: black;
    top: 18px;
}
input{
    position: absolute;
    background-color:white;
    border: 1px solid #d6d6d6;
    width: 200px;
    height: 45px;
    left: 8px;
    align-items: center;
    top: 18px;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    color: rgba(0, 0, 0, 0.5);
}
