.container{
    margin: auto;
    padding: 0;
    margin-top: 3rem;
}

table{
    width: 100%; 
    width: 640px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); 
    margin: auto;
    border: 1px solid gray;
}
.table th, .table td {
    padding: 30px;
}
th, td{
    border: 1px solid gray;
}
.table th:nth-last-child(even){
    background-color: black;
}
td.black{
    background-color: black;
}